//Global Functions

.header {
    .navbar {
        padding: 20px 0;
    }
    .logo {
        height: 40px;
    }
}


footer{
    height: 50px;
    background-color: $secondary;
    margin-top: 100px;
}
